<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">technoSites</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="https://www.angular.labussiere-guillaume.com/" target="_blank">Angular</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://react.labussiere-guillaume.com/">React</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://vuejs.labussiere-guillaume.com/">Vues.js et mongodb</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://symfony.labussiere-guillaume.com/">Synfony</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>

